---
import PixelarticonsArrowRight from "../icons/PixelarticonsArrowRight.astro";

interface Props {
  question: string;
  answer: string;
  category: string;
}

const { question, answer, category } = Astro.props;
---

<details class="group divide-y divide-stone-300 dark:divide-stone-700">
  <summary
    aria-expanded="false"
    class="flex cursor-pointer items-center justify-between gap-4 transition-opacity group-active:opacity-50"
  >
    <div class="py-4">
      <span
        aria-label={`Category: ${category}`}
        class="font-mono text-xs tracking-wide text-stone-500 uppercase"
      >
        {category}
      </span>
      <h3
        class="font-serif text-lg text-stone-800 decoration-from-font underline-offset-2 group-hover:underline dark:text-stone-100"
      >
        {question}
      </h3>
    </div>

    <PixelarticonsArrowRight
      aria-hidden="true"
      class="h-5 w-5 flex-shrink-0 text-stone-500 transition-transform duration-200 group-open:rotate-90 group-hover:translate-x-0.5"
    />
  </summary>

  <div
    set:html={answer}
    role="region"
    aria-labelledby="faq-question"
    class="pt-4 text-sm leading-relaxed text-stone-600 dark:text-stone-400"
  />
</details>
