---
export const prerender = true;

import ImgHeaderAuthors from "../../assets/header/headerAuthors.jpg";
import AuthorsAllAuthors from "../../components/authors/AuthorsAllAuthors.astro";
import SidebarAuthors from "../../components/navigation/sidebars/SidebarAuthors.astro";
import PageHeaderImg from "../../components/PageHeaderImg.astro";
import LayoutBase from "../../layouts/LayoutBase.astro";
---

<LayoutBase
  title="Författare"
  description="Upptäck alla författare och gästskribenter bakom Hallin-bloggens artiklar. Läs om deras bakgrund, expertis och bidrag till innehållet."
>
  <SidebarAuthors slot="sidebar" />

  <div slot="content" class="space-y-12">
    <PageHeaderImg
      headerImgSrc={ImgHeaderAuthors}
      headerImgAlt=""
      headingText="Alla författare"
      headingItalic={false}
      descriptionText="Möt människorna bakom orden - författare, partners och vänner som hjälper till att forma det du läser här och nu."
      btnText="Kontakta William"
      btnHref="/contact"
      btnAriaLabel="Kontakta William angående författare"
    />

    <AuthorsAllAuthors />
  </div>
</LayoutBase>
