---
import ImgHeaderClients from "../../../assets/header/headerClients.jpg";
import ClientsAllClients from "../../../components/clients/ClientsAllClients.astro";
import SidebarClients from "../../../components/navigation/sidebars/SidebarClients.astro";
import PageHeaderImg from "../../../components/PageHeaderImg.astro";
import LayoutBase from "../../../layouts/LayoutBase.astro";
---

<LayoutBase>
  <SidebarClients slot="sidebar" />

  <div slot="content" class="space-y-12">
    <PageHeaderImg
      headerImgSrc={ImgHeaderClients}
      headerImgAlt=""
      headingText="The awesome client collection"
      headingItalic={false}
      descriptionText="There are plenty of brands I've had the honour to work with. Below is the full catalog of clients I've collaborated with."
      btnText="Become a client"
      btnHref="/hire"
      btnAriaLabel="Go to the hire page to become a client"
    />

    <ClientsAllClients />
  </div>
</LayoutBase>
