---
export const prerender = true;

import ImgHeaderClients from "../../assets/header/headerClients.jpg";
import ClientsAllClients from "../../components/clients/ClientsAllClients.astro";
import SidebarClients from "../../components/navigation/sidebars/SidebarClients.astro";
import PageHeaderImg from "../../components/PageHeaderImg.astro";
import LayoutBase from "../../layouts/LayoutBase.astro";
---

<LayoutBase
  title="Kunder"
  description="Se vilka framgångsrika varumärken och företag som har valt att samarbeta med William Hallin för sina design- och medieprojekt."
>
  <SidebarClients slot="sidebar" />

  <div slot="content" class="space-y-12">
    <PageHeaderImg
      headerImgSrc={ImgHeaderClients}
      headerImgAlt=""
      headingText="Den grymma kundsamlingen"
      headingItalic={false}
      descriptionText="Det finns många varumärken jag har haft äran att arbeta med. Nedan finns hela katalogen av kunder jag har samarbetat med."
      btnText="Bli kund"
      btnHref="/hire"
      btnAriaLabel="Gå till anställningssidan för att bli kund"
    />

    <ClientsAllClients />
  </div>
</LayoutBase>
