---
export const prerender = true;

import AdvertGallery from "../components/AdvertGallery.astro";
import SidebarBase from "../components/navigation/SidebarBase.astro";
import PageHeaderImg from "../components/PageHeaderImg.astro";
import LayoutBase from "../layouts/LayoutBase.astro";
---

<LayoutBase>
  <SidebarBase showLogo showReturn showNav slot="sidebar" />

  <div slot="content" class="space-y-12">
    <PageHeaderImg
      headingText="Annonssamling"
      headingItalic={false}
      descriptionText="Tycker du om annonserna du ser? Vad sägs om att se dem alla på en gång? Kolla in hela annonskollektionen."
      btnText="Få din egen annons"
      btnHref="/hire"
      btnAriaLabel="Gå till anställningssidan för att få din egen annons"
    />

    <AdvertGallery />
  </div>
</LayoutBase>
