---
import ImgHeaderContact from "../assets/header/headerContact.jpg";
import ContactElsewhere from "../components/contact/ContactElsewhere.astro";
import ContactMessageForm from "../components/contact/ContactMessageForm.astro";
import ContactPreferred from "../components/contact/ContactPreferred.astro";
import SidebarContact from "../components/navigation/sidebars/SidebarContact.astro";
import PageHeaderImg from "../components/PageHeaderImg.astro";
import LayoutBase from "../layouts/LayoutBase.astro";
---

<LayoutBase>
  <SidebarContact slot="sidebar" />

  <div slot="content" class="space-y-12">
    <PageHeaderImg
      headerImgSrc={ImgHeaderContact}
      headerImgAlt="Bild av William Hallin"
      headingText="Kontakta William Hallin"
      headingItalic={false}
      descriptionText="Ingen skräppost, inget nonsens - bara ett snabbt och enkelt sätt att komma i kontakt med mig för en kaffe eller ditt nästa stora projekt."
      btnText="Skicka ett meddelande"
      btnHref="#contact-form-section"
      btnAriaLabel="Hoppa till kontaktformuläret"
    />

    <ContactPreferred />

    <hr class="border-stone-300 dark:border-stone-700" />

    <ContactMessageForm />

    <hr class="border-stone-300 dark:border-stone-700" />

    <ContactElsewhere />
  </div>
</LayoutBase>
