---
export const prerender = true;

import ImgHeaderHome from "../assets/header/headerHome.jpg";
import SidebarBase from "../components/navigation/SidebarBase.astro";
import PageHeaderImg from "../components/PageHeaderImg.astro";
import PortfolioHomeGrid from "../components/portfolio/PortfolioHomeGrid.astro";
import LayoutBase from "../layouts/LayoutBase.astro";
---

<LayoutBase adId="2">
  <SidebarBase showLogo showNav adId="2" slot="sidebar" />

  <div slot="content" class="space-y-12">
    <PageHeaderImg
      headerImgSrc={ImgHeaderHome}
      headerImgAlt="Bild av William Hallin"
      headingText="Allt-i-ett-skapande från Skellefteå"
      descriptionText="Att fånga, designa och utveckla digital media - allt på ett ställe, när som helst och var som helst du behöver mig."
      btnText='Säg "Hej!"'
      btnHref="/contact"
      btnAriaLabel="Öppna kontakt sidan för att säga hej"
    />

    <PortfolioHomeGrid />
  </div>
</LayoutBase>
