---
import PixelarticonsMoonStar from "./icons/PixelarticonsMoonStar.astro";
import PixelarticonsSunAlt from "./icons/PixelarticonsSunAlt.astro";

const translations = {
  en: {
    ariaLabelToggle: "Toggle dark mode",
    title: "Toggle between light and dark theme",
  },
  sv: {
    ariaLabelToggle: "Byt till mörkt läge",
    title: "Växla mellan ljust och mörkt tema",
  },
};

const locale = (Astro.currentLocale as "en" | "sv") ?? "en";
---

<button
  id="theme-toggle"
  type="button"
  aria-label={translations[locale].ariaLabelToggle}
  title={translations[locale].title}
  class="w-fit cursor-pointer rounded-md border border-stone-300 p-2 text-stone-700 transition hover:opacity-75 active:scale-90 dark:border-stone-700 dark:text-stone-300"
>
  <PixelarticonsMoonStar aria-hidden="true" class="h-4 w-4 dark:hidden" />
  <PixelarticonsSunAlt aria-hidden="true" class="hidden h-4 w-4 dark:block" />
</button>

<script>
  import "./ThemeSwitcher";
</script>
