---
import PixelarticonsMoonStar from "./icons/PixelarticonsMoonStar.astro";
import PixelarticonsSunAlt from "./icons/PixelarticonsSunAlt.astro";

const translations = {
  en: {
    ariaLabelToggle: "Toggle dark mode",
    title: "Toggle between light and dark theme",
  },
  sv: {
    ariaLabelToggle: "Byt till mörkt läge",
    title: "Växla mellan ljust och mörkt tema",
  },
};

const locale = (Astro.currentLocale as "en" | "sv") ?? "en";
---

<button
  id="theme-toggle"
  type="button"
  aria-label={translations[locale].ariaLabelToggle}
  title={translations[locale].title}
  class="h-4 w-4 cursor-pointer text-stone-700 transition-opacity hover:opacity-75 active:opacity-50 dark:text-stone-300"
>
  <PixelarticonsMoonStar aria-hidden="true" class="h-full w-full dark:hidden" />
  <PixelarticonsSunAlt
    aria-hidden="true"
    class="hidden h-full w-full dark:block"
  />
</button>

<script>
  import "./ThemeSwitcher";
</script>
