---
import ImgHeaderPortfolio from "../../assets/header/headerPortfolio.jpg";
import SidebarPortfolio from "../../components/navigation/sidebars/SidebarPortfolio.astro";
import PageHeaderImg from "../../components/PageHeaderImg.astro";
import PortfolioIndexGrid from "../../components/portfolio/PortfolioIndexGrid.astro";
import LayoutBase from "../../layouts/LayoutBase.astro";
---

<LayoutBase>
  <SidebarPortfolio slot="sidebar" />

  <div slot="content" class="space-y-12">
    <PageHeaderImg
      headerImgSrc={ImgHeaderPortfolio}
      headerImgAlt=""
      headingText="Arbetsportfölj"
      headingItalic={false}
      descriptionText="Alla mina mest stolta arbeten - samlade på ett ställe. Utforska varje projekt, processen bakom det och det slutliga resultatet."
      btnText="Starta ditt projekt"
      btnHref="/hire"
      btnAriaLabel="Starta ditt projekt på anställningssidan"
    />

    <PortfolioIndexGrid />
  </div>
</LayoutBase>
