---
export const prerender = true;

import ImgHeaderBlog from "../../../assets/header/headerBlog.jpg";
import BlogFeaturedPost from "../../../components/blog/BlogFeaturedPost.astro";
import BlogRecentPosts from "../../../components/blog/BlogRecentPosts.astro";
import SidebarBlog from "../../../components/navigation/sidebars/SidebarBlog.astro";
import PageHeaderImg from "../../../components/PageHeaderImg.astro";
import LayoutBase from "../../../layouts/LayoutBase.astro";
---

<LayoutBase
  title="The Hallin Blog"
  description="Explore the Hallin blog with inspiring articles, practical guides, and personal insights on design, development, and entrepreneurship."
>
  <SidebarBlog slot="sidebar" />

  <div slot="content" class="space-y-12">
    <PageHeaderImg
      headerImgSrc={ImgHeaderBlog}
      headerImgAlt=""
      headingText="The Hallin Blog"
      headingItalic={false}
      descriptionText="A collection of thoughts, ideas, insights, and opinions — authored by myself or featuring guest stars."
      btnText="Send a message"
      btnHref="/contact"
      btnAriaLabel="Contact William about the blog"
    />

    <BlogFeaturedPost />

    <hr class="border-stone-300 dark:border-stone-700" />

    <BlogRecentPosts />
  </div>
</LayoutBase>
